 <%- include("../partials/head.ejs",{PageTitle:title}) %>
 <%- include("../partials/nav.ejs")%>
 <h1>Product Details</h1>
 <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price (JD)</th>
        </tr>
    </thead>
    <tbody>
         <% for(p of products){ %>
            <tr>
                <td><%= p.name%></td>
                <td><%= p.price%></td>
            </tr>
        <%}%>
    </tbody>
</table>
<%- include("../partials/footer.ejs") %>